n8n-workflows/Code a Cuisine – Rezeptgenerierung.json
{
  "name": "Code a Cuisine – Rezeptgenerierung",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c745b865-85a0-404c-9b24-e996e7a0bbe7",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 288],
      "id": "f17f2a2e-4bfd-4e8b-88fd-0ab07c4d5802",
      "name": "Webhook Rezept-Anfrage empfangen",
      "webhookId": "c745b865-85a0-404c-9b24-e996e7a0bbe7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iuxSL0sYyiknOU2l",
          "name": "Header Auth account"
        }
      },
      "notes": "Rezept-Anfrage empfangen"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body;\nconst errors = [];\n\nif (!body || !Array.isArray(body.ingredients) || body.ingredients.length === 0) {\n  errors.push('ingredients: Mindestens eine Zutat erforderlich');\n}\nif (!body || !body.portions || isNaN(Number(body.portions)) || Number(body.portions) < 1) {\n  errors.push('portions: Gültige Zahl >= 1 erforderlich');\n}\nif (!body || !body.chefs || isNaN(Number(body.chefs)) || Number(body.chefs) < 1) {\n  errors.push('chefs: Gültige Zahl >= 1 erforderlich');\n}\nconst validCuisines = ['german', 'italian', 'japanese', 'indian', 'gourmet', 'fusion'];\nif (!body || !body.cuisine || !validCuisines.includes(body.cuisine)) {\n  errors.push('cuisine: Muss einer von ' + validCuisines.join(', ') + ' sein');\n}\nif (!body || !body.complexity) {\n  errors.push('complexity: Pflichtfeld fehlt');\n}\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors } }];\n}\n\nreturn [{ json: { ...item, valid: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 288],
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "JavaScript Code Eingabe validieren"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-400, 288],
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "Eingabe gültig?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Ungültige Anfrage', details: $json.errors } }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-400, 500],
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "name": "Webhook 400: Ungültige Eingabe"
    },
    {
      "parameters": {
        "jsCode": "// IP-basiertes Rate Limiting via Static Data\nconst staticData = $getWorkflowStaticData('global');\nconst ip = ($input.first().json.headers || {})['x-forwarded-for'] || 'unknown';\nconst now = Date.now();\nconst windowMs = 24 * 60 * 60 * 1000; // 24 Stunden\nconst maxRequests = 50; // Max Anfragen pro IP pro Tag\n\nif (!staticData.ipLog) staticData.ipLog = {};\n\n// Alte Einträge bereinigen\nfor (const key of Object.keys(staticData.ipLog)) {\n  if (now - staticData.ipLog[key].start > windowMs) {\n    delete staticData.ipLog[key];\n  }\n}\n\nif (!staticData.ipLog[ip]) {\n  staticData.ipLog[ip] = { count: 1, start: now };\n} else if (staticData.ipLog[ip].count >= maxRequests) {\n  const retryAfterHours = Math.ceil((staticData.ipLog[ip].start + windowMs - now) / 3600000);\n  return [{ json: { rateLimitOk: false, retryAfterHours } }];\n} else {\n  staticData.ipLog[ip].count++;\n}\n\nreturn [{ json: { ...($input.first().json), rateLimitOk: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 288],
      "id": "ea197e5e-77b2-4306-b97f-93aabaa56083",
      "name": "JavaScript Code Rate Limiting prüfen"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.rateLimitOk }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [0, 288],
      "id": "b1c2d3e4-0004-0004-0004-000000000004",
      "name": "Rate Limit OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Zu viele Anfragen – bitte später erneut versuchen', retryAfterHours: $json.retryAfterHours } }}",
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [0, 500],
      "id": "b1c2d3e4-0005-0005-0005-000000000005",
      "name": "Webhook 429: Zu viele Anfragen"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein Rezept-KI. Du MUSST genau 3 Rezepte erstellen.\nWICHTIG: Verwende AUSSCHLIESSLICH die Zutaten aus der Liste des Nutzers.\nErfinde KEINE neuen Zutaten. Kein Gemüse, kein Fleisch, keine Gewürze die nicht angegeben sind.\nErlaubt sind nur Zusätze: Wasser, Salz, Pfeffer, Öl.\nVerteile die Zubereitungsschritte auf die angegebene Anzahl Köche. \nWeise jedem Schritt einen \"chef\"-Wert (1, 2 oder 3) zu.\nAntworte AUSSCHLIESSLICH mit JSON, kein Text davor oder danach.\n\nHalte die gewünschte Küche des Nutzers so weit wie möglich ein.\nWechsle die Küche NUR dann, wenn die Zutaten absolut nicht zur gewünschten Küche passen.\nBevorzuge in diesem Fall: german | italian | japanese | indian | gourmet.\nVerwende \"fusion\" NUR als absoluten letzten Ausweg, wenn keine andere Küche passt.\nSetze das \"cuisine\"-Feld im JSON auf den tatsächlich verwendeten Wert.\nErlaubte Werte: german | italian | japanese | indian | gourmet | fusion\n\nAntworte NUR mit validem JSON:\n{\n  \"recipes\": [{\n    \"title\": \"...\",\n    \"cookingTimeMinutes\": 20,\n    \"cuisine\": \"italian\",\n    \"diet\": \"none\",\n    \"complexity\": \"quick\",\n    \"portions\": 2,\n    \"chefs\": 1,\n    \"ingredients\": [{ \"name\": \"...\", \"amount\": 1, \"unit\": \"...\" }],\n    \"extraIngredients\": [],\n    \"steps\": [{ \"stepNumber\": 1, \"title\": \"...\", \"description\": \"...\", \"chef\": 1 }],\n    \"nutrition\": { \"calories\": 400, \"protein\": 20, \"fat\": 15, \"carbs\": 50 },\n    \"hearts\": 0,\n    \"createdAt\": \"2026-04-08T00:00:00.000Z\"\n  }]\n}"
            },
            {
              "content": "=Meine verfügbaren Zutaten sind: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.ingredients.map(i => i.name).join(', ') }}\n\nWICHTIG: Verwende ALLE diese Zutaten in den Rezepten. Jede Zutat aus der Liste MUSS in mindestens einem Rezept vorkommen.\nZusätzlich erlaubt: Wasser, Salz, Pfeffer, Öl.\nKeine anderen Zutaten.\n\nPortionen: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.portions }}\nAnzahl Köche: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.chefs }}\nKüche: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.cuisine }}\nDiät: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.diet }}\nKomplexität: {{ $('Webhook Rezept-Anfrage empfangen').item.json.body.complexity }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [200, 288],
      "id": "0cce1842-685c-4d9c-be43-58043b021dee",
      "name": "Message a model GPT-4o: Rezepte generieren",
      "credentials": {
        "openAiApi": {
          "id": "elQL80AwI5nxZU2M",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const text = $input.first().json.output[0].content[0].text;\n  const clean = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n\n  if (!parsed.recipes || !Array.isArray(parsed.recipes)) {\n    return [{ json: { parseSuccess: false, error: 'Antwort enthält kein gültiges recipes-Array' } }];\n  }\n\n  return [{ json: { ...parsed, parseSuccess: true } }];\n} catch (error) {\n  return [{ json: { parseSuccess: false, error: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 288],
      "id": "dc8956a7-8098-479b-bac8-0c32fea09eb2",
      "name": "JavaScript Code KI-Antwort parsen"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.parseSuccess }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 288],
      "id": "b1c2d3e4-0006-0006-0006-000000000006",
      "name": "Parsing OK?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Rezeptgenerierung fehlgeschlagen', details: $json.error } }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [600, 500],
      "id": "b1c2d3e4-0007-0007-0007-000000000007",
      "name": "Webhook 500: KI-Antwort fehlerhaft"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { recipes: $json.recipes } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [800, 288],
      "id": "9d11803c-dc6f-4f35-ba94-321e765dcd56",
      "name": "Webhook Rezepte zurücksenden"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Rezept-Anfrage empfangen": {
      "main": [[{ "node": "JavaScript Code Eingabe validieren", "type": "main", "index": 0 }]]
    },
    "JavaScript Code Eingabe validieren": {
      "main": [[{ "node": "Eingabe gültig?", "type": "main", "index": 0 }]]
    },
    "Eingabe gültig?": {
      "main": [
        [{ "node": "JavaScript Code Rate Limiting prüfen", "type": "main", "index": 0 }],
        [{ "node": "Webhook 400: Ungültige Eingabe", "type": "main", "index": 0 }]
      ]
    },
    "JavaScript Code Rate Limiting prüfen": {
      "main": [[{ "node": "Rate Limit OK?", "type": "main", "index": 0 }]]
    },
    "Rate Limit OK?": {
      "main": [
        [{ "node": "Message a model GPT-4o: Rezepte generieren", "type": "main", "index": 0 }],
        [{ "node": "Webhook 429: Zu viele Anfragen", "type": "main", "index": 0 }]
      ]
    },
    "Message a model GPT-4o: Rezepte generieren": {
      "main": [[{ "node": "JavaScript Code KI-Antwort parsen", "type": "main", "index": 0 }]]
    },
    "JavaScript Code KI-Antwort parsen": {
      "main": [[{ "node": "Parsing OK?", "type": "main", "index": 0 }]]
    },
    "Parsing OK?": {
      "main": [
        [{ "node": "Webhook Rezepte zurücksenden", "type": "main", "index": 0 }],
        [{ "node": "Webhook 500: KI-Antwort fehlerhaft", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5d88c41f-c8fe-486a-bb68-4057ce3a0c5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20700f6970c5075693d4bc606ee50f0ed17c76a2f6881676a33ccd537c3bf253"
  },
  "id": "n4HmM1vdP1gmVHkh",
  "tags": []
}
