n8n-workflows/My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein Rezept-KI. Du MUSST genau 3 Rezepte erstellen.\nWICHTIG: Verwende AUSSCHLIESSLICH die Zutaten aus der Liste des Nutzers.\nErfinde KEINE neuen Zutaten. Kein Gemüse, kein Fleisch, keine Gewürze die nicht angegeben sind.\nErlaubt sind nur Zusätze: Wasser, Salz, Pfeffer, Öl.\nVerteile die Zubereitungsschritte auf die angegebene Anzahl Köche. \nWeise jedem Schritt einen \"chef\"-Wert (1, 2 oder 3) zu.\nAntworte AUSSCHLIESSLICH mit JSON, kein Text davor oder danach.\n\nHalte die gewünschte Küche des Nutzers so weit wie möglich ein.\nWechsle die Küche NUR dann, wenn die Zutaten absolut nicht zur gewünschten Küche passen.\nBevorzuge in diesem Fall: german | italian | japanese | indian | gourmet.\nVerwende \"fusion\" NUR als absoluten letzten Ausweg, wenn keine andere Küche passt.\nSetze das \"cuisine\"-Feld im JSON auf den tatsächlich verwendeten Wert.\nErlaubte Werte: german | italian | japanese | indian | gourmet | fusion\n\nAntworte NUR mit validem JSON:\n{\n  \"recipes\": [{\n    \"title\": \"...\",\n    \"cookingTimeMinutes\": 20,\n    \"cuisine\": \"italian\",\n    \"diet\": \"none\",\n    \"complexity\": \"quick\",\n    \"portions\": 2,\n    \"chefs\": 1,\n    \"ingredients\": [{ \"name\": \"...\", \"amount\": 1, \"unit\": \"...\" }],\n    \"extraIngredients\": [],\n    \"steps\": [{ \"stepNumber\": 1, \"title\": \"...\", \"description\": \"...\", \"chef\": 1 }],\n    \"nutrition\": { \"calories\": 400, \"protein\": 20, \"fat\": 15, \"carbs\": 50 },\n    \"hearts\": 0,\n    \"createdAt\": \"2026-04-08T00:00:00.000Z\"\n  }]\n}"
            },
            {
              "content": "=Meine verfügbaren Zutaten sind: {{ $('Webhook').item.json.body.ingredients.map(i => i.name).join(', ') }}\n\nWICHTIG: Verwende ALLE diese Zutaten in den Rezepten. Jede Zutat aus der Liste MUSS in mindestens einem Rezept vorkommen.\nZusätzlich erlaubt: Wasser, Salz, Pfeffer, Öl.\nKeine anderen Zutaten.\n\nPortionen: {{ $('Webhook').item.json.body.portions }}\nAnzahl Köche: {{ $('Webhook').item.json.body.chefs }}\nKüche: {{ $('Webhook').item.json.body.cuisine }}\nDiät: {{ $('Webhook').item.json.body.diet }}\nKomplexität: {{ $('Webhook').item.json.body.complexity }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        288
      ],
      "id": "0cce1842-685c-4d9c-be43-58043b021dee",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "elQL80AwI5nxZU2M",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output[0].content[0].text;\n\nconst clean = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nconst parsed = JSON.parse(clean);\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        288
      ],
      "id": "dc8956a7-8098-479b-bac8-0c32fea09eb2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        288
      ],
      "id": "9d11803c-dc6f-4f35-ba94-321e765dcd56",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c745b865-85a0-404c-9b24-e996e7a0bbe7",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        288
      ],
      "id": "f17f2a2e-4bfd-4e8b-88fd-0ab07c4d5802",
      "name": "Webhook",
      "webhookId": "c745b865-85a0-404c-9b24-e996e7a0bbe7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iuxSL0sYyiknOU2l",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Einfaches IP-basiertes Rate Limiting via Static Data\nconst staticData = $getWorkflowStaticData('global');\nconst ip = $input.first().json.headers['x-forwarded-for'] || 'unknown';\nconst now = Date.now();\nconst windowMs = 24 * 60 * 60 * 1000; // 24 Stunden\nconst maxRequests = 3; // Max 3 Anfragen pro IP pro Tag\n\nif (!staticData.ipLog) staticData.ipLog = {};\n\n// Alte Einträge bereinigen\nfor (const key of Object.keys(staticData.ipLog)) {\n  if (now - staticData.ipLog[key].start > windowMs) {\n    delete staticData.ipLog[key];\n  }\n}\n\nif (!staticData.ipLog[ip]) {\n  staticData.ipLog[ip] = { count: 1, start: now };\n} else if (staticData.ipLog[ip].count >= maxRequests) {\n  throw new Error('Rate limit exceeded');\n} else {\n  staticData.ipLog[ip].count++;\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        288
      ],
      "id": "ea197e5e-77b2-4306-b97f-93aabaa56083",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1aa45b45-f034-455c-a7ff-22f71e660779",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20700f6970c5075693d4bc606ee50f0ed17c76a2f6881676a33ccd537c3bf253"
  },
  "id": "n4HmM1vdP1gmVHkh",
  "tags": []
}